* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
main {
    background: url('images/bg.jpg') no-repeat center;
    font-family:serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid white;
}

main h1 {
    font-size: 20vw;
    font-style: italic;
    background: linear-gradient(-30deg, #dbc07d 10%, #310A31 50%, #dbc07d 10%);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 1ms ease-in infinite;
}

main h6 {
    font-size: 2vw;
    font-weight: lighter;
}

@keyframes gradient {
    0% {
        background-position: 0% 75%;
    }

    50% {
        background-position: 100% 30%;
    }

    100% {
        background-position: 0% 75%;
    }
}

main span {
    font-size: 1.4vw;
    font-weight: bold;
    line-height: 2rem;
    border-radius: 30px;
    background: #dbc07d;
}

main li {
    margin-top: 5%;
    list-style: none;
}

main li a {
    color: #dbc07d;
    text-decoration: none;
    font-size: large;
}

main li a img {
    margin-right: 5px;
}

main li a:hover {
    opacity: .5;
}

section {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #121212;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    border-bottom: 1px solid white;
    text-overflow: ellipsis;
}

section h2 {
    color: white;
    font-size: 3.5rem;
    padding-top: 1rem;
}

section p {
    padding: 5% 5%;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #dbc07d;
}

@media screen and (max-width: 450px) {
    section p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        max-width: 100%;
    }
}

@media screen and (max-width: 768) {
    section p {
        font-size: 1.4rem;
        line-height: 2rem;
        max-width: 90%;
        text-align: justify;
    }
}


#Event img {
    height: 250px;
    object-fit: cover;
}

#Evaluation div, #Rule div, #Theme div {
    color: #dbc07d;
}

#Evaluation div>div>div>div , #Theme div>div>div {
        background-color: #2B242D;
        border-radius: 10px;
        color: #dbcb7d;
    }
summary {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #121212;
    border-bottom: 1px solid white;
}

.card .card-body h6 {
    margin: 2px;
}

#FAQ .accordion-button:is(.collapsed) {
    background-color:#dbcb7d;
    box-shadow: none;
}
footer {
    color: whitesmoke;
    padding: 20px 0;
  }
  
  footer span {
    color: #dbc07d;
  }
  
  footer h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  footer p {
    margin: 5px 0;
  }
  
  .contact-item {
    margin-bottom: 15px;
  }
    
.healthcare{
    width: 300px;
    height: 20px;
    margin-bottom: 15px;
}