.faq-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 0px;
  width: max-content;
  margin-left: 30%;
  }

.accordion {
  width: 700px;
  display: flex;
  flex-direction: column;
  /* gap: 14px; */
  font-family: book;
  overflow: hidden;
  transform: scale(1.20);
  margin-top: 30px;
}

.item {  
  padding: 10px 14px;
  /* padding-right: 48px; */
  cursor: pointer;
  color:#fff;    
  border-bottom: 1px solid #797979;
  display: grid;
  grid-template-columns: 1fr auto;
  /* column-gap: 24px; */
  /* row-gap: 18px; */
  align-items: center;
  user-select: none;
  padding: 20px 0px;
  height: max-content;
  overflow: hidden;
}

.sectionHeading{
  font-size: 60px !important;
}

.title{
  font-size: 36px;
}

.icon{
  margin-top: 8px;
}

.icon svg{
  transition: transform 0.35s;
}

.content-box {
  color:#ffffff;
  grid-column: 1 / -1;
  line-height: 1.6;
  font-size: 16px;
  font-family: sp;
  max-height: 0;
  transition: max-height 0.35s;
  overflow: hidden;
  /* margin-top: 10px */
}

.content-box p{
  overflow: hidden;
  transition: opacity 0.35s;
  font-size: 20px;
}

.content-box ul {
  color: #868e96;
  margin-left: 16px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
