/* *{
  margin:0px;
  scroll-behavior: smooth;
  overflow-x: hidden;
} */

/* body{
    padding: 0;
    margin: 0;
    font-family: medium;         
    background-color: #0a0a0a;
     overflow: hidden;
  }


  @font-face {
    font-family: black;
    src: url("./fonts/Circularstd-Black.otf");
    
}

@font-face {
    font-family: light;
    src: url("./fonts/Circularstd-Light.otf");
}  */

/* @font-face {
    font-family: new;
    src: url('./fonts/RumblesportathleticcapsBold-ZxDJ.otf');
} */

/* @font-face {
    font-family: new;
    src: url('./fonts/JerseyM54-aLX9.ttf');
}


@font-face {
    font-family: bold;
    src: url("./fonts/Circularstd-Bold.otf");
}

@font-face {
    font-family: medium;
    src: url("./fonts/CircularStd-Medium.otf");
}

@font-face {
    font-family: book;
    src: url("./fonts/CircularStd-Book.otf");
}

@font-face {
    font-family: sp;
    src: url("./fonts/CircularSp.ttf");
} */