@media ( max-width:490px){

    .landing-content{
        top: 10%;
        max-width: 390px;
    }

    .about{
        margin-top: 100px;
    }

    .landing-container{
        max-width: 389px;
    }

    .card-container{
       display: block;
       margin-right: 35px;
       padding: 0px 40px
    }  

    .card{
        margin-top: 30px;
    }

    .card h3{
        font-size: 30px !important;
    }

    .time-section .remaining{
        position: absolute; bottom: -70px !important; left: 150px !important;
    }

    .card p{
        font-size: 16px !important;
        width: 250px;        
    }

    .image-container img{
        object-position: 50%;
        height: 800px;  
        z-index: -1;  
    }

    .logo-container img{
        margin-top: -40px;
        /* margin-right: 220px;         */
        margin-left: 44px;
    }
    

    .dates{
        font-size: 26px;
        margin-top: 40px;
    }

    .info{
        font-size: 16px;
    }


    nav{
        padding: 100px 0px;
    }

    .sectionHeading{
        font-size: 40px !important;
        margin-top: -120px;
    }

    .visionAndMission{
        /* transform: scale(0.35); */
    /* min-width:1000px; */
    width: 390px;
    position: absolute;
    /* left: -480px; */
    padding: 0px 0px;
    margin-top: 30px;
    flex-direction: column;
    overflow: hidden;
    }

    .visionAndMission .left-section h3{
        font-size: 40px;
        /* margin-left: 40px; */
        padding: 0px 140px;
        min-width: 100px;
        width: 10px;
    }

    .right-section{
        width: 200px;
    }

    .visionAndMission .right-section .container{
        background-color: rgb(37, 37, 37);
        border: 1px solid rgb(100, 100, 100);
        border-radius: 6px;
        padding: 30px 35px;
        line-height: 35px;
        transition: background-color 0.25s;        
        margin-left: 30px;
        margin-top: -50px;
        /* width: 250px; */
        /* transform: scale(0.5); */
        /* margin-left: 320px;         */
        /* overflow: hidden;         */
    }

    .visionAndMission .right-section .container p{
        width: 300px;        
        font-size: 16px;        
        /* overflow-wrap: anywhere; */
        /* hyphens: auto;     */
        
    }
    
    .info{
        margin-left: 5px;
        width: 390px;
        text-align: center;
        max-width: 390px;
        padding: 0px 0px;
    }

    .button-container{
        display: flex;
        flex-direction: column;
        gap: 1px;
        z-index: 1000000;
        margin-top: 20px;
    }

    .card-container p{
        text-align: center;
        margin-left: 20px;
    }

    .button-container button:nth-child(2){
        margin-top: 10px;
    }

    .move-down{
        top: 80%;
        height: 20px;
    }

    .nav-menu{
        display: none;
    }

    nav{
        width: 100%;
        padding: 0px 10px;
    }

    .logo img{
        width: 200px;
    }

    .faq-container{
        /* width: 400px; */
        margin-top: 100px !important;
        margin-right: 37px;
        width: unset;
        margin-left: unset;
        /* height: 900px; */
    }

    .timer{    
        transform: scale(0.5);
        width: 4000px;
    }

    .accordion{
        transform: scale(0.47);
        margin-top: -200px;
    }

    .nav-button-container .register-button{
        transform: scale(0.45);
        font-size: 28px;
      }
      

    .faq-container{
        margin-top: 1000px;
        margin-left: 35px;
    }

    .title{
        font-size: 55px;
    }

    .content-box p{
        font-size: 30px;
        margin-top: 20px;        
        /* margin-bottom: 20px; */
        height: 100px;
    }

    .rules{
        margin-top: 850px !important;
    }

    .rules h3{
        background-color: white;
        color: black;
        width: max-content;
        font-size: 35px !important;
        /* width: 100px !important; */
    }

    .stack-cards{
        margin-top: -20px !important;
        margin-right: 40px;
    }

    .stack-cards__item{
        width: 85vw !important; 
        height: 50vh !important;
    }
    .stack-cards li:nth-child(2){
        margin-top: 180px !important;
      }



      .stack-content-container{
        display: flex;
        /* flex-direction: column !important; */
        flex-direction: column !important;
        color: white;
        justify-content: unset !important;
        align-items: unset !important;
        width: 100vw !important;
        
      }

      .rule-number{
        font-family: black;
        font-size: 70px;
        background-color: rgb(122, 122, 122);
        width: 100% !important;        
        display: flex;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px !important;
        height: 23vh;
        flex-direction: row !important;
        gap: 30px;
      }
      
      .rule-number span:nth-child(1){
        font-size: 100px !important;
      }

      .rule{
        width: unset !important;
        padding: 20px 20px !important;
        text-align: center;
        font-size: unset !important;
        margin-top: 0px !important;
  margin-right: 0px !important;
      }


.timeHeading{
    background-color: white;
    
}

.time-section{
    display: flex;
    flex-direction: column !important;
    color: black;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 100px !important;
    transform: unset !important;
    max-width: 650px;
    margin-left: unset !important;
}

.timerContainer{
    transform: scale(2) !important;
    display: grid;
    grid-template-columns: 1fr 1fr !important;
    gap: unset !important;
    row-gap: -1px !important;
    height: max-content;
}


.timerContainer div:nth-child(3){
    margin-top: -80px;
}

.timerContainer div:nth-child(4){
    margin-top: -80px;
}

.main-footer{
    width: 270px;
    margin-top: -100px !important;
}

.contact{
    max-width: 310px !important;
}

.last-section{
    display: none !important;
}

.footer-row1{
    display: none;
}

}

@media (max-width:1160px){
    .dates{
        font-size: 26px;
    }

    .info{
        font-size: 16px;
    }
}

@media (max-width:920px){
    .dates{
        font-size: 20px;
    }
}

@media (max-width:1430px){
    .card-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width:1400px){
    .visionAndMission{
    display: flex;
    flex-direction: column;
    }

    .visionAndMission .right-section .container{
        min-width: 650px;
    }
}